<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Inventarization" providerName="System.Data.SqlClient" connectionString="Data Source=77068-app065;Initial Catalog=Inventarka;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="Interval" value="300000" />
    <!-- 300000 - 5 минут 30000 -30 секунд-->
    <add key="Pop3Address" value="eups.tax.nalog.ru"/>
    <add key="LoginOit" value="oit.r7751@tax.gov.ru"/>
    <add key="PasswordOit" value="Password"/>
    <add key="LoginR7751" value="r7751@tax.gov.ru"/>
    <add key="PasswordR7751" value="Password"/>
    <add key="IsSendMailOit7751" value="true" />  <!-- Отправка почты c Oit7751 -->
    <add key="IsReceptionR7751" value="false"/> <!-- Прием почты с R7751 -->
    <add key="PathSaveArchive" value="C:\Mail\"/>
    <add key="PathGenerateScheme" value="C:\Mail\scheme.dxl"/>
    <add key="LotusServer" value="Lotus7751/I7751/R77/МНС" />
    <add key="LotusIdFilePassword" value="Password" />
    <add key="LotusMailSend" value="mail\7751OI.nsf" />
    <add key="LotusImns" value="IFNS\itstaff_imns.nsf" />
    <!-- БД справочник ИМНС -->
    <!-- Настройки Консультанта -->
    <add key="Hours" value="13" />
    <!-- Часы запуска задачи отправки отчета -->
    <add key="Minutes" value="00" />
    <!-- Минуты запуска задачи отправки отчета -->
    <add key="MailReport" value="5533311@mail.ru" />
    <!-- Почта обратной связи с Консультант+ -->
    <add key="ExtensionsFileReport" value="*.USR,*.STT" />
    <!-- Файлы расширения для отчетов -->
    <add key="PathConsultantPlusReceive" value="\\77068-APP018\Consultant\RECEIVE" />
    <!-- Путь к Receive Консультант+ -->
    <add key="PathConsultantPlusReceiveTemp" value="\\77068-APP018\Consultant\RECEIVE_TEMP" />
    <!-- Путь к Receive_Temp Консультант+ -->
    <add key="PathConsultantPlusSts" value="\\77068-APP018\Consultant\ADM\STS" />
    <!-- Путь к Sts Консультант+ -->
    <add key="IsSendReportPathConsultantPlus" value="true" />
    <!-- Отправка отчетов ConsultantPlus -->
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ServiceOutlook.Service.ServiceTest" behaviorConfiguration="mexBehavior">
        <host>
          <baseAddresses>
            <!--http://localhost:8585/ServiceOutlook/Test-->
            <add baseAddress="http://localhost:8585" />
          </baseAddresses>
        </host>
        <endpoint contract="ServiceOutlook.Service.IServiceTest" address="ServiceOutlook" binding="webHttpBinding" bindingConfiguration="crossDomain" behaviorConfiguration="webHttpBehavior" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint kind="udpAnnouncementEndpoint" />
            </announcementEndpoints>
          </serviceDiscovery>
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="100" />
          <!--Вот эта вещь долго искал эту настройку-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
          <!--<crossOriginResorseSharingBehavior />-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="Log/nlog.log" layout="${date}|${level}|${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
      <logger name="*" minlevel="Error" writeTo="file" />
    </rules>
  </nlog>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>